<li [ngClass]="{'list-group-item':true , 'list-group-item-danger': serviceStatus === 'Annulé','list-group-item-success': serviceStatus === 'Non-Annulé'}">
    <div class="feu" *ngIf="serviceStatus === 'Annulé'"></div>
    <div class="vert" *ngIf="serviceStatus === 'Non-Annulé'"></div>
    <h4 [ngStyle]="{color:getColor()}">Course : {{ serviceName }} >>> {{ getStatus() }} </h4>
    <a [routerLink]="[id]">Voir les details</a>
    <input type="text" class="form-control" [(ngModel)]="serviceName">
    <button class="btn btn-primary" (click)="swapOne()" >Swap</button>



</li>

